
<h1>this is home</h1>
<mat-card>
    <mat-card-content style="background-color: #f44336; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #2196f3; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #4caf50; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #f44336; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #2196f3; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #4caf50; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #f44336; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #2196f3; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content style="background-color: #4caf50; color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    </mat-card-content>
</mat-card>