<div class="forgotpass-container">
    <div class="box">
        <form class="form" [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
            <h1 class="form-heading">Forgot Password</h1>
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your email" formControlName="email">
                <mat-hint *ngIf="!forgotpasswordForm.get('email')?.valid && forgotpasswordForm.get('email')?.touched">
                    *Enter a valid email.
                </mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!forgotpasswordForm.valid">Reset Password Link</button>
        </form>
        <p class="forgot-password">I remember  <a routerLink="/login">Back to Login</a>.</p>
    </div>
</div>