<div class="container">
    <mat-card class="error-card">
        <mat-card-content>
            <h1 class="error-heading">404</h1>
            <p class="error-message">Oops! The page you are looking for doesn't exist.</p>
            <p>Please check the URL or go back to the login page.</p>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-raised-button color="primary" routerLink="/login">Back to Login</button> -->
            <button mat-raised-button color="primary" (click)="backToLogin()">Back to Login</button>
        </mat-card-actions>
    </mat-card>
</div>