<mat-toolbar color="primary">
  <button mat-button>
    <span class="hussle">hussle</span>
  </button>

  <input class="search-bar" type="text" placeholder="Search" />
  <span class="example-spacer"></span>
  <button mat-button>
    <mat-icon>mail_outline</mat-icon>
  </button>

  <button (click)="badgevisibility()" mat-button>
    <mat-icon [matBadgeHidden]="badgevisible" matBadgeSize="small" matBadge="."
      >notifications_none</mat-icon
    >
  </button>
  <button mat-button>Profile</button>
</mat-toolbar>

<!-- SideNave Start -->
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <div style="display: flex; flex-direction: column; height: 100%">
      <mat-nav-list style="flex-grow: 1">
        <mat-list-item>
          <button routerLink="" mat-button>
            <mat-icon>group</mat-icon> Manage
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button>
            <mat-icon>dns</mat-icon>
            Boards
          </button>
        </mat-list-item>

        <mat-list-item>
          <button routerLink="" mat-button>
            <mat-icon>event_note</mat-icon> Schedule
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="" mat-button>
            <mat-icon> assessment</mat-icon> Reports
          </button>
        </mat-list-item>
      </mat-nav-list>
      <div style="margin-top: auto">
        <mat-list-item>
          <button mat-button><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 535px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
