.example-spacer {
  flex: 1 1 auto;
}

.search-bar {
  background-color: transparent;
  border: 0;
}
.hussle {
  display: flex;
  margin: 0;
  background-color: blueviolet;
  font-size: medium;
}
.button-icon {
  border-left: 11px;
}
.home-container {
  padding: 20px;
  background-color: #e3e8f1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
