<div class="login-container">
    <div class="box">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="form-heading">Login</h1>
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" placeholder="Enter your email"
                    formControlName="email">
                <mat-hint *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
                    *Enter a valid email.
                </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" placeholder="Enter your password"
                    formControlName="password">
                <mat-hint *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                    *Enter password (Min char 5 and Max char 12).
                </mat-hint>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        </form>
        <p class="signup-link">Don't have account ? <a routerLink="/signup">Create</a> now.</p>
        <p class="reset-link">Forgot password ? <a routerLink="/forgot-password">Reset</a> now.</p>
    </div>
</div>