<div class="container">
    <div class="box">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="form-heading">Login</h1>
            <mat-form-field appearance="fill" class="form-group" >
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email" placeholder="Enter your email" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" name="password" placeholder="Enter your password" formControlName="password">
            </mat-form-field>

            <button mat-raised-button color="primary">Login</button>
        </form>
        <p class="signup-link">Don't have account ? <a routerLink="/signup">Create</a> now.</p>
        <p class="reset-link">Forgot password ? <a routerLink="/forgot-password">Reset</a> now.</p>
    </div>
</div>
