<footer class="mat-elevation-z2">
    <div class="footer-content">
        <div class="left-section">
            <span class="icon"><mat-icon>place</mat-icon></span>
            <span class="text">123 Main Street, City</span>
        </div>
        <div class="center-section">
            <span class="icon"><mat-icon>phone</mat-icon></span>
            <span class="text">123-456-7890</span>
        </div>
        <div class="right-section">
            <a href="#" class="social-icon"><mat-icon>facebook</mat-icon></a>
            <a href="#" class="social-icon"><mat-icon>twitter</mat-icon></a>
            <a href="#" class="social-icon"><mat-icon>instagram</mat-icon></a>
        </div>
    </div>
</footer>