<div class="container">
    <div class="box">
        <form class="form">
            <h1 class="form-heading">Forgot Password</h1>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your email">
            </mat-form-field>
            <button mat-raised-button color="primary">Reset Password Link</button>
        </form>
        <p class="login">Ohh I remember  <a routerLink="/login">Back to Login</a>.</p>
    </div>
</div>