<mat-toolbar style="position: sticky" color="primary">
  <button class="hussle" (click)="drawer.toggle()" mat-button>
    <span>hussle</span>
  </button>

  <form #searchForm="ngForm">
    <div class="ps-4">
      <input class="search-bar" type="text" placeholder="Search for tasks..." required name="searchTerm"
        autocomplete="off" [(ngModel)] = "searchKey" />
    </div>
  </form>
  <mat-icon>search</mat-icon>
  <span class="example-spacer"></span>


  <div class="login-time d-sm-block d-none" *ngIf="loginTime !== null">
    <!-- Specify the argument as '12' for 12-hour format and '24' for 24-hour format -->
    <p>Login Time: {{ loginTime | loginTimeFormat : "12" }}</p>
  </div>

  <button mat-button appHighlight>
    <mat-icon>account_circle</mat-icon>{{ (loggedInUser$ | async)?.name | uppercase }}
  </button>
  <div class="logout-button">
    <button mat-button (click)="logout()" appHighlight>
      <mat-icon>logout</mat-icon>Logout
    </button>
  </div>
</mat-toolbar>

<!-- SideNave Start -->
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start" style="width: 9%">
    <div class="div-container">
      <mat-nav-list class="nav-list-container">
        <mat-list-item class="side-nav-item" *ngFor="let menuItem of menuItems">
          <div class="list-item-div" routerLink="{{ menuItem.route }}">
            <mat-icon class="menu-item-icon">{{ menuItem.icon }}</mat-icon>
            <span mat-button>{{ menuItem.label }}</span>
            <!-- <button routerLink="{{ menuItem.route }}" mat-button>
              {{ menuItem.label }}
            </button> -->
          </div>
        </mat-list-item>
      </mat-nav-list>
      <div class="setting-div">
        <mat-list-item>
          <div class="list-item-div">
            <mat-icon class="menu-item-icon">settings</mat-icon>
            <button mat-button>Settings</button>
          </div>
        </mat-list-item>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-drawer-div">
      <!-- <router-outlet></router-outlet> -->
      <div class="home-container">
        <div class="header-container">
          <h1>Studio Board</h1>

          <span class="plus-icon-container" (click)="addNewTask()">
                       
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
              class="bi bi-plus-circle pointer" viewBox="0 0 16 16">
                           
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                           
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                         
            </svg>
                     
          </span>
        </div>

        <app-backlog *ngIf="searchKey ==''"></app-backlog>

        <hr>

        <div class="results" *ngIf="searchResults && searchKey !==''">
          <div class="d-flex">
            <h5>Search Results</h5>
            <span class="ms-auto">{{searchResultCount}} result found...</span>
          </div>
          <table class="table">
            <thead>
              <tr class="text-start">
                <th scope="col">#</th>
                <th scope="col"> title</th>
                <th scope="col">priority</th>
              </tr>
            </thead>
            <tbody class="text-start">
              <tr *ngFor="let search of searchResults; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{search.title}}</td>
                <td>{{search.class}}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>