.example-spacer {
  flex: 1 1 auto;
}

.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
}

::placeholder{
  color: white;
  font-size: 17px;
}

input{
  color:white;
}

.hussle {
  display: flex;
  margin: 0;
  background-color: blueviolet;
  font-size: medium;
}
.pointer {
  cursor: pointer;
}

.button-icon {
  border-left: 11px;
}

.home-container {
  /* height: 100vh; */
  padding: 20px;
  background-color: #e3e8f1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.div-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-list-container {
  flex-grow: 1;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.side-nav-item{
  margin-top: 40px;
  /* margin-bottom: 40px; */
  padding: 20px;
  
}
.list-item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-icon {
  margin: auto;
}

.setting-div {
  margin-top: auto;
}

.mat-drawer-div {
  text-align: center;
  min-height: 535px;
}

.logout-button {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}



/* Add this CSS to your existing styles */
.login-time {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed for spacing between login time and other elements */
}

.login-time p {
  margin: 0; /* Reset margin to remove default spacing */
  font-size: medium;
  color: white; /* Set the text color */
}


.search-icon{
  padding-top: 5px ;
  margin-left: 50px;
}

.table, .results-heading{
  width: 70%;
  margin: auto;
}

.results{
  height: 70vh;
  overflow:auto;
}