.example-spacer {
  flex: 1 1 auto;
}

.search-bar {
  background-color: transparent;
  border: none;
  outline: none;
 
}

.search-area {
  /* background-color: black; */
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 50px;
}

::placeholder {
  color: white;
  font-size: 17px;
}

input {
  color: white;
}

.hussle {
  display: flex;
  margin: 0;
  background-color: blueviolet;
  font-size: medium;
}

.pointer {
  cursor: pointer;
}

.button-icon {
  border-left: 11px;
}

.home-container {
  min-height: 100vh;
  padding: 20px;
  background-color: #e3e8f1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.div-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-list-container {
  flex-grow: 1;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.side-nav-item {
  margin-top: 40px;
  /* margin-bottom: 40px; */
  padding: 20px;

}

.list-item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-icon {
  margin: auto;
}

.setting-div {
  margin-top: auto;
}

.mat-drawer-div {
  text-align: center;
  min-height: 535px;
}

.logout-button {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}



/* Add this CSS to your existing styles */
.login-time {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* Adjust the margin as needed for spacing between login time and other elements */
}

.login-time p {
  margin: 0;
  /* Reset margin to remove default spacing */
  font-size: medium;
  color: white;
  /* Set the text color */
}


.search-icon {
  padding-top: 7px;
  margin-left: 5px;
  font-size: 21px;
}

.table,
.results-heading {
  width: 85%;
  margin: auto;
}

.results,
.no-result {
  height: 70vh;
  overflow: auto;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

@media screen and (max-width: 768px) {
  .search-area {
    margin-left: 10px;
  }

  mat-drawer{
    width: 12%;
  }

  .side-nav-item, .setting-icon-div {
    padding: 0px;
  
  }

  .icon-name{
    font-size: 13px;
  }
  
}



@media screen and (max-width: 572px) {
  mat-toolbar {
    display: block;
    height: auto;
    width: fit-content;
    padding-top: 25px;
  }


  .login-time {
    display: inline-block;
    margin-right: 10px;
    margin-left: 90px;
  }

  form {
    margin-top: -35px;
    margin-left: 10px;
  }

  .logout-button {
    margin-left: 70px;
  }


  .search-area {
    margin-left: 70px;
  }

  mat-drawer{
    width: 16%;
  }

  .icon-name{
    font-size: 12px;
  }

  .side-nav-item, .setting-icon-div {
    padding: 0px;
  
  }

  
  
  
}

@media screen and (min-width: 425px) {
  mat-toolbar {
    width: auto;
  }

  .search-area {
    margin-right: 20px;
  }

  .login-time {
    margin-right: 50px;
  }
  

}

@media screen and (min-width: 375px) {
  mat-toolbar {
    width: auto;
  }
  
}