<mat-toolbar color="primary">
  <button mat-button>
    <span class="hussle">hussle</span>
  </button>

  <input class="search-bar" type="text" placeholder="Search" />
  <span class="example-spacer"></span>
  <button mat-button appHighlight>
    <mat-icon>mail_outline</mat-icon>
  </button>

  <button (click)="badgevisibility()" mat-button appHighlight>
    <mat-icon [matBadgeHidden]="badgevisible" matBadgeSize="small" matBadge="."
      >notifications_none</mat-icon
    >
  </button>
  <button mat-button appHighlight><mat-icon>account_circle</mat-icon>Profile</button>
  <div class="login-button">
    <button mat-button (click)="logout()" appHighlight> <mat-icon>logout</mat-icon>Logout</button>
  </div>
</mat-toolbar>

<!-- SideNave Start -->
<mat-drawer-container autosize>
  <mat-drawer
    #drawer
    opened="true"
    mode="side"
    position="start"
    style="width: 9%"
  >
    <div class="div-container">
      <mat-nav-list class="nav-list-container">
        <mat-list-item *ngFor="let menuItem of menuItems">
          <div class="list-item-div">
            <mat-icon class="menu-item-icon">{{ menuItem.icon }}</mat-icon>
            <button routerLink="{{ menuItem.route }}" mat-button>
              {{ menuItem.label }}
            </button>
          </div>
        </mat-list-item>
      </mat-nav-list>
      <div class="setting-div">
        <mat-list-item>
          <div class="list-item-div">
            <mat-icon class="menu-item-icon">settings</mat-icon>
            <button mat-button>Settings</button>
          </div>
        </mat-list-item>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="mat-drawer-div">
      <!-- <router-outlet></router-outlet> -->
      <div class="home-container">
        <div class="header-container">
          <h1>Studio Board</h1>

          <span class="plus-icon-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
          </span>
        </div>

        <app-backlog></app-backlog>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
