.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(44, 198, 245, 0.171);
}

.form-heading {
    text-align: center;
}

.box {
    background-color: #03d2f748;
    border-radius: 8px;
    padding: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;


}

.login-link {
    margin-top: 25px;
    text-align: center;
    font-size: 12px;
}

mat-hint {
    color: red;
    font-size: 12px;

}