<!-- home page by murty -->
<div class="home-page-container">
  <div class="todo-lists-container">
    <div class="row">
      <div class="col-4 list-container">
        <h3>Lists</h3>
        <div class="seperator">
        <div class="task-info" *ngFor="let task of allTasks">
          <h5 class="task-heading" (click)="showTask(task)">{{ task.title }}</h5>
        </div>
        <button class="btn btn-success">+ New List</button>
      </div>
      </div>
      <div class="col-8 tasks-container">
        <h3>Tasks</h3>
        <div class="task-container" *ngIf="displayTask">
        <p class="task-description">{{displayTask}}</p>
        <div class="task-buttons-container">
          <button class="btn btn-primary task-button">Update</button>
          <button class="btn btn-danger task-button">Delete</button>
          <button class="btn btn-success task-button">Done</button>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
