/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
} */

.form-heading {
  text-align: center;
}

.box {
  background-color: rgba(165, 161, 161, 0.377);
  
  border-radius: 8px;
  padding: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.login-link {
  margin-top: 25px;
  text-align: center;
  font-size: 12px;
}

mat-hint {
  color: red;
  font-size: 12px;
}



@media screen and (max-width: 320px) {

  .form-heading {
    font-size: 20px;
  }

  .form-group{
    height: 70px;
    width: auto;
  }

  mat-hint {
    color: red;
    font-size: 10px;
  }

  .box {
    border-radius: 8px;
    padding: 20px;
  }

}


