<!-- <div class="container"> -->
<div class="box">
  <form class="form"  [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
    <h1 class="form-heading">New Task</h1>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Title</mat-label>
      <input class="input"
        matInput
        type="text"
        id="title"
        name="title"
        placeholder="Enter your task title"
        formControlName="title"
        [(ngModel)]="title"
      />
      <mat-hint
        *ngIf="
          !newTaskForm.get('title')?.valid && newTaskForm.get('title')?.touched
        "
      >
        *Enter your task title.
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="priority" name="priority" formControlName="priority">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
      <!-- <input
        matInput
        type="text"
        name="priority"
        placeholder="Enter your task priority"
        formControlName="priority"
        [(ngModel)]="priority"
      /> -->
      <mat-hint
        *ngIf="
          !newTaskForm.get('priority')?.valid &&
          newTaskForm.get('priority')?.touched
        "
      >
        *Enter a valid priority name.
      </mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!newTaskForm.valid">
      Add Task
    </button>
  </form>
</div>
<!-- </div> -->
